# R-related
.Rproj.user
.Rhistory
.RData
.Ruserdata

# docs
inst/doc
docs

# others
.DS_Store
temp/

.pre-commit-config.yaml
tests/testthat/_snaps/**/*.new.md
tests/testthat/_snaps/**/*.new.svg

# reverse dep checks
checked/
